{% extends "base.html" %}

{% load staticfiles %}

{% block extra_styles %}

    <script src="{% static 'phaser/build/phaser.min.js' %}"></script>

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>


    <script src="{% static 'socket.io-client/dist/socket.io.min.js' %}"></script>
    {#        <script src="{% static 'script/jquery.colorbox-min.js' %}"></script>#}
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <style>
        #game canvas{
            margin: auto;
        }

        #score_table {
            width: 100px;
            background-color: white;
            opacity: 0.5;
            position: absolute;
            top: 80px;
            left: 30%;
        }
    </style>

{% endblock %}


{#    <script src="{% static 'script/pace.min.js' %}"></script>#}
{#    <script src="{% static 'script/jquery.realperson.min.js' %}"></script>#}
{#    <script src="{% static 'script/bootstrap-select.min.js' %}"></script>#}
{#    <script src="{% static 'script/jquery.countdown.js' %}"></script>#}
{#    <script src="{% static 'script/jquery.countdown2.js' %}"></script>#}
{#    <script src="{% static 'script/jQueryRotateCompressed.js' %}"></script>#}



<!-- TweenJs -->
{#        <script src="{% static 'lib/tweenjs/easeljs-NEXT.min.js' %}"></script>#}
{#        <script src="{% static 'lib/tweenjs/Event.js' %}"></script>#}
{#        <script src="{% static 'lib/tweenjs/EventDispatcher.js' %}"></script>#}
{#        <script src="{% static 'lib/tweenjs/Tween.js' %}"></script>#}
{#        <script src="{% static 'lib/tweenjs/Ease.js' %}"></script>#}

{% block extra_body_attrs %}onload="createGame();"{% endblock %}

{% block content %}
    <div id="game" class="text-center"></div>

    <table id="score_table">
        <thead>
        <tr>
            <th>Gracz</th>
            <th>Punkty</th>
        </tr>
        </thead>
        <tbody>
        {% for user in object.users.all %}
            <tr id="user-{{ user.pk }}">
                <td>{{ user }}</td>
                <td>{{ user.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block extra_script %}

    <script type="text/javascript">
        var playerNick = "{{ user.username }}",
            pos_x = {{ x }},
            pos_y = {{ y }};

    </script>

    <script src="{% static 'app/sockets.js' %}"></script>
    <script type="text/javascript">
        var ws4redis = WS4Redis({
            uri: '{{ WEBSOCKET_URI }}{{ user.room.slug }}?subscribe-broadcast&publish-broadcast',
            receive_message: receiveMessage,
            heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
        });
    </script>

    <script src="{% static 'app/global.js' %}"></script>
    <script src="{% static 'app/constants.js' %}"></script>

    <script src="{% static 'app/main.js' %}"></script>
    <script src="{% static 'app/sockets.js' %}"></script>

    <script src="{% static 'app/controller.js' %}"></script>
    <script src="{% static 'app/model.js' %}"></script>

    <script src="{% static 'app/bonuses/Bonus.js' %}"></script>
    <script src="{% static 'app/bonuses/BonusList.js' %}"></script>
    <script src="{% static 'app/bonuses/SpeedUp.js' %}"></script>
    <script src="{% static 'app/bonuses/SlowDown.js' %}"></script>
    <script src="{% static 'app/bonuses/RegenerateHP.js' %}"></script>

    <script src="{% static 'app/mapObjects/MapObject.js' %}"></script>
    <script src="{% static 'app/mapObjects/Wall.js' %}"></script>

    <script src="{% static 'app/game.js' %}"></script>

{% endblock %}

